*.o
/dump
/player
/gods
/notes
/area/shutdown.txt
/area/*.dmp
/area/orphaned_helps.txt
/bin/rom
/bin/basemud
/bin/basemud.exe
Makefile.bak
/src/TODO_count.sh
/src/TODO_edit.sh
/src/affects.txt
/src/tests/tests
/debug.sh
/callgrind.sh
/obj
/romtmp
/MUDEditor
/.vscode
/.kilo
/json/temp/*
!/json/temp/areas/
/json/temp/areas/*
!/json/temp/areas/.gitkeep
/CompletedPlans
/boot.log
basemud.code-workspace
docker-compose.yml
Dockerfile